{% extends 'base.html.twig' %}

{% block title %}Mentions légales - Stras4Water{% endblock %}

{% block body %}
<section class="container my-5">
  <h1 class="mb-4 text-center">Mentions légales</h1>

  <div class="mb-5">
    <h2>Éditeur du site</h2>
    <p>
      Le site <strong>stras4water.org</strong> est édité par l’association <strong>Stras4Water</strong>, déclarée en préfecture le 10 février 2024, régie par la loi du 1er juillet 1901.
    </p>
    <p>
      <strong>Nom de l'association :</strong> Stras4Water<br>
      <strong>Adresse :</strong> La maison des associations, 1a place des Orphelins, 67000 Strasbourg<br>
      <strong>Email :</strong> <a href="mailto:contact@stras4water.org">stras4water@protonmail.com</a><br>
      <strong>Directeur de publication :</strong> Le président ou la présidente de l'association<br>
      <strong>Numéro SIREN :</strong> 929 570 497
    </p>

    <h2>Hébergement</h2>
    <p>
      Le site est hébergé par :<br>
      <strong>O2Switch</strong><br>
      CHE DES PARDIAUX, 63000 CLERMONT FERRAND<br>
      <a href="https://www.o2switch.fr" alt="Site Web de l'hebergeur">https://www.o2switch.fr</a>
    </p>

    <h2>Propriété intellectuelle</h2>
    <p>
      L’ensemble des contenus présents sur le site (textes, images, logos, etc.) sont la propriété de l’association Stras4Water, sauf mentions contraires. Toute reproduction, même partielle, est interdite sans autorisation préalable.
    </p>

    <h2>Responsabilité</h2>
    <p>
      Stras4Water s’efforce d’assurer au mieux l’exactitude et la mise à jour des informations diffusées sur le site. Toutefois, l’association ne saurait être tenue responsable des erreurs ou omissions, ni d’un éventuel dysfonctionnement ou d’une indisponibilité du site.
    </p>

    <h2>Données personnelles</h2>
    <p>
      Aucune information personnelle n’est collectée à votre insu. Les données éventuellement recueillies via les formulaires sont destinées uniquement à l’usage interne de Stras4Water, dans le cadre de ses activités associatives.
    </p>
    <p>
      Conformément au Règlement Général sur la Protection des Données (RGPD), vous pouvez exercer vos droits d’accès, de rectification ou de suppression de vos données personnelles en nous contactant à <a href="mailto:stras4water@protonmail.com">stras4water@protonmail.com</a>.
    </p>

    <h2>Crédits</h2>
    <p>
      Design et développement : Stras4Water<br>
      Photos : Membres de l’association et banques d’images libres de droits
    </p>
  </div>
</section>
{% endblock %}
